<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome to Master Tool &amp; Machine</h3>
                <h1>Where Quality &amp; Satisfaction are the Standard</h1>
                <!--<h5>We are your full circle manufacturing supplier, capable of evaluating problems – suggesting solutions - supplying AutoCAD drawings - building Custom machines &amp; equipment - to production Fabrication.</h5>-->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
